body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  font-family: "Arial", cursive;
  background-image: url('data:image/svg+xml,%3Csvg width="100" height="20" viewBox="0 0 100 20" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z" fill="%239C92AC" fill-opacity="0.4" fill-rule="evenodd"/%3E%3C/svg%3E');
}
.front img {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
}
.card {
  width: 400px;
  height: 386px;
  max-width: 700px;
  position: relative;
}
.card .front {
  position: Absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  transition: all 0.5s ease;
  transform: perspective(700px) rotateY(0deg);
  backface-visibility: hidden;
  border-radius: 3px;
  background: white;
  border-color: 1px solid #e1e1e1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.card .front .textbox {
  position: absolute;
  top: 40px;
  left: 20px;
  transform: rotate(-10deg);
}
.card .front .textbox * {
  margin: 0;
  color: white;
}
.card .front .textbox p {
  font-size: 30px;
  text-align: center;
  font-family: "Arial", cursive;
}
.card .front .textbox h2 {
  font-size: 80px;
  font-family: "Caesar Dressing", cursive;
  font-weight: 400;
  padding-left: 30px;
  line-height: 1;
}
.card .back {
  background-color: #e1e1e1;
  position: Absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
  transform: perspective(700px) rotateY(-180deg);
  backface-visibility: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  width: 100%;
  height: 100%;
}
.card:hover .front {
  transform: perspective(700px) rotateY(180deg);
}
.card:hover .back {
  transform: perspective(700px) rotateY(0deg);
}
.card .back .bodybox {
  margin: 10px;
  background: white;
  height: calc(100% - 20px);
}
.card .back .bodybox .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px 0 25px;
}
.card .back .bodybox .top h1 {
  font-family: "Arial", cursive;
  font-size: 34px;
}
.card .back .bodybox .top .logo {
  width: 42px;
  margin-right: 15px;
}
.card .back .bodybox .top .stamp {
  transform: rotate(5deg);
  position: relative;
  top: -20px;
  right: -10px;
}
.card .back .bodybox .middle {
  padding: 0 25px;
}
.card .back .bodybox .middle p {
  font-family: Allison;
  font-size: 34px;
  color: #c62828;
  margin: 0;
}
.card .back .bodybox .middle p strong {
  font-family: Arial;
  font-size: 20px;
  color: #252525;
  margin-right: 15px;
}
.card .back .bodybox .bottom {
  padding: 20px 30px;
}
.card .back .bodybox .bottom p {
  border-bottom: 1px solid #e1e1e1;
  font-size: 32px;
  font-family: Allison;
  color: #c62828;
  margin: 0;
}
.card .back .bodybox .bottom p:nth-of-type(1) {
  padding-left: 40px;
}
.card .back .bodybox .bottom p:nth-of-type(2) {
  padding-left: 90px;
}
.card .back .bodybox .bottom p:nth-of-type(3) {
  padding-left: 130px;
}
.card .back .bodybox .bottom p:nth-of-type(4) {
  padding-left: 380px;
}

iframe {
  margin: 40px auto 0 auto;
}

.youtube .play {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAERklEQVR4nOWbTWhcVRTHb1IJVoxGtNCNdal2JYJReC6GWuO83PM/59yUS3FRFARdFlwYP1CfiojQWt36sRCUurRIdVFXIn41lAoVdRGrG1M01YpKrWjiYmaSl8ybZJL3cd+YA//NLObd3++eO8x79z5jSq5Gw+8kov0AP8vMR5l1BtBZQM4B8ks75wCdZdYZZj5qLZ4hov2Nht9Z9vhKKSIaB/gI4M4w62KeAO6Mte4lYOq20FxrlqqOibhHmeWbvNC9ZfDX1mLae391aN6limO/gwgvAPJbWeAZuSDingdwXTBw7/0IsyaA/Fkh+KqOkD+YNfHej1QKD+y7iVlOhgLvFqFfNJvNGyuBJ+KDAF8MDd0tgS8y64OlgSdJMsysL4cG7SOHkyQZLhTee7+d2R2rAVy/S+Jd7/32ouBHAP4gNNRGQyTHc/84NhqNywZp5rvjjnnvt21aABFeCQ+RLwAf2hQ8s7sv9OCLk6AHNgQvIrvbfzKCD76g/O6cu7lf/iER/aQGgy448pExZmhdegAPhR9sObFWH1gT3lp7DaA/5bkIgJhZPgsNmz02novj+KqeApj1ubwXWe4kdyeznAgNvTpE/HQmvKqOMeuFogTUVQSRno+iaLRLAJF7uIgL9O4ubgL8aWgB7S44mNX+35YpICUiAvS9sBLkq1WzT+NFffl6AuoiApi6NT37h6sWkBIRZGkQ8YtLgyji6e1mBYTqCEBPG2Naz+0BWQgtoGoRgCzEsd9hAN1X5BfnFZASUfrSAFQNsyZ1FJASUVpHiLinDJG8U2cBZYogkrcNs5waBAGdstbeU9zdqpw0gPwwSAI6VUxHyFlDpOcHUUBBIuYNs14aZAE5RVwyzPr3/0EAEY0TyfGNjBWQvwZ+CTSbehfAH29mrID8bET0+0EUkAd8WYDOmqJ3ecsG30yr9wqRfm6Y+a1BEFDEjHfHvWmY9ck6CygHvBVr8Xhtb4ZE5HZA3y8DvBNA1TjnrmXWf+sioMwZX5V/VHXMGGMMoKdDCxCRvRWBdzKzdHEO+EisilbPyopHYqp6S9UCAsz4iojI7hUDAtyXVQgIDd6KnOoaWNkbI6FaPSuZGyMArsi7MZoloB4zviI/Nhr3X95jltwTRQmoIfgisy5ai+me67OI7fE4nrqjrqfK1t0eby0FPRB6oGVlchL3rgnfrq19RKbVBdhV9IOSwJmfmJi4vi/4ThERitwyCxVAFqydshuCX5awhQ9KtmuIWd8IDZED/nXT77rvVVv6sHRKwjYi91poqP7Dr+Y6JJ1VSZIMA3wkPNy6bX+o8Bcm0sXMdwM8Fxo0A3xORPaWBp6uPXsmbxCRD0NDL0dOANhVCXy6iAjMcjbcrMt3RITKwdMVRdFo+y5yvkL4eWZ+zHt/ZVD4dEVRNGotpst+dZZZH8k86lqn2pIvT/eqrNfn2xuyqYPZ8mv7s8pfn/8Pybm4TIjanscAAAAASUVORK5CYII=") no-repeat center center;
    background-size: 64px 64px;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .8;
    filter: alpha(opacity=80);
    transition: all 0.2s ease-out;
}

.youtube .play:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.p {
  margin-top: 60px;
}